@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600;700;900&display=swap');

$primary-color: #f9f7f7;
$second-color: #dbe2ef;
$third-color: #3f72af;
$fourth-color: #112d4e;

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

html, body {
    height: 100%;
}

ul {
    list-style:none;
}

a {
    text-decoration: none;
}

header{
    background-color: $third-color;
    display: flex;
    justify-content: space-between;
    align-items: center;

    ul{
        display: flex;
    }

    li{
        padding: 2vh;
    }
}


