@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600;700;900&display=swap');

$primary-color: #f9f7f7; //background
$second-color: #dbe2ef; //fonts
$third-color: #3f72af; //nav, footer
$fourth-color: #112d4e;

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

html, body {
    height: 100%;
}

ul {
    list-style:none;
}

a {
    text-decoration: none;
}

header {
    background-color: $third-color;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .logo{
        margin-left: 10px;
        font-weight: 800;
        color: $second-color;
        transition: 2s;
    }

    .logo-active {
    transform: translateX(-150px);
    }

    ul {
        display: flex;
    }

    li {
        padding: 10px;
    }

    a {
        color: $second-color;
        padding: 11px;
    }

    a:hover {
        background-color: $primary-color;
        color: $third-color;
        padding: 11px;
    }
}

.landing {
    height: 94vh;
    background-color: $primary-color;
   
    .text {
        margin-top: 20vh;
        color: #111;
        padding: 35px;
        padding-left: 10vw;
        padding-right: 10vw;
    }   

    h1{
        font-weight: 700;
        font-size: 35px;
    }

    h2 {
        font-size: 20px;
        font-weight: 600;
    }

    p {
        font-weight: 300;
        width: 250px;
        margin-bottom: 30px;
    }

    a {
        border: 2px solid #111;
        border-radius: 10px;
        width: 90px;
        text-align: center;
        color: $fourth-color;
        font-size: 18px;
        padding: 10px;
        transition: 0.4s;
    }
    
    a:hover {
        background-color: $third-color;
        color: $second-color;
    }

    .wrapper {
        display: flex;
        height: 100%;

        .photo {
            background-image: url("pexels-pixabay-533157(1).jpg");
            background-position: center;
            width: 50%;
            background-size: cover;
            background-repeat: no-repeat;
            height: 100%;
            flex: 2;
        }
    }
}

footer {
    color: $second-color;
    background-color: $third-color;
    position: static;
    width: 100%;
    bottom: 0;
}

@media screen and (max-width: 775px) {
    .landing {
        background-image: url("pexels-pixabay-533157.jpg");
        background-image: linear-gradient(to bottom, rgba(0,0,0,0.1) 0%,rgba(0,0,0,0.6) 100%), url(pexels-pixabay-533157.jpg);
        background-size: cover;

        .text {
            color: $primary-color;
            
            a {
                border-color: $second-color;
                color: $second-color;
                background-color: $third-color;
            }
        }
    }

    .photo {
        display: none;
    }

    header {
        ul {
            display: none;
        }
    }
}